<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="full w-full hidden h-screen bg-white">
        <div class="boxname bg-zinc-200 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-lg">
            <input class="inputname p-2 rounded-sm outline-none bg-transparent" type="text" placeholder="enter your name">
            <button class="p-2 rounded-sm bg-blue-500 text-white">name set</button>
        </div>
    </div>
    <div class="flex items-center justify-center h-screen">
        <div class="w-full max-w-md p-4 bg-white rounded-lg shadow-md">
            <div class="flex justify-between items-center border-b">
                <div class="uppr flex items-center gap-5"><div class="hash flex flex-col"><h2 class="text-xl font-semibold">Chat Room </h2><span class="online text-sm font-light">2 user are online</span> </div> <span class="font-extralight text-sm"><i id="type">Typing indicator</i></span></div>
                <button class="text-blue-500 hover:underline">Logout</button>
            </div>
            <div id="chatBox" class="message-container h-80 overflow-y-auto py-4">
                <!-- Chat messages will go here -->
            </div>
            <div class="flex items-center border-t pt-4">
                <input id="messageInput" type="text" placeholder="Type your message..."
                    class="w-full p-2 rounded-lg border border-gray-300 focus:outline-none focus:ring focus:border-blue-500">
                <button id="send" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-lg">Send</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="/js/socket.js"></script>

</body>

</html>